# Introduction to Data Analysis with Pandas

In [1]:
# We tend to abbreviate the pandas library as pd
import pandas as pd
# Stop pandas from abbreviating tables to fit in the notebook
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
# Display graphs in the notebook
%matplotlib inline

## Getting the data into Python

The `pandas` library stores data in what it calls a *dataframe*, which is really just a smart table.

We use the `read_csv` function to read in our London Boroughs data.

In [2]:
# read in our csv file, and automatically change missing values (a dot in the csv) into NaN
boroughs = pd.read_csv('Boroughs.csv', na_values = ['.',' '])
# Use the head function to see the first few rows
boroughs.head(5)

,Borough,InnerOuter,Population,Households,Area,Density,Age,LT15,WorkAge,Over65,Netmig,Bornabroad,Migrant1,Migrant1p,Migrant2,Migrant2p,Migrant3,Migrant3p,BAME,E2L,Arriving,Arriving1,Arriving2,Arriving3,Employ,MEmploy,FEmploy,Unemploy,UnemployY,NEET,OOWBenefit,Disability,NoQual,Degree,Pay,MPay,FPay,Medianpay,Volunteer,Jobs,Publicsector,Jobdensity,Business,BSurvival,Crime,Fires,Ambulance,HPrice,CTax,NewHomes,HOwned,Mortgages,LARent,PRent,Green,Carbon,Recycle,Cars,Cycle,PublicT,GCSEs,LookedAfter,PupilNE,PupilOOW,MLE,FLE,TeenCR,Satisfaction,Worthwhile,Happy,Anxiety,CObesity,Diabetes,PMortality,PControl,Conservative,Labour,Libdem,Turnout
0,City of London,Inner London,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,665,NaN,United States,2.8,France,2.0,Australia,1.9,27.5,17.1,152.2,India,France,United States,64.6,NaN,NaN,NaN,1.6,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,"£63,620",NaN,500400.0,3.4,84.3,26130,64.3,NaN,12.3,NaN,799999.0,931.20,80.0,NaN,NaN,NaN,NaN,4.8,1036.0,34.4,1692,16.9,7.9,78.6,101.0,NaN,7.9,NaN,NaN,NaN,6.6,7.1,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
1,Barking and Dagenham,Outer London,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,9.7,2509,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11.0,4.5,5.7,10.5,17.2,11.3,32.2,27886.0,30104.0,24602.0,"£29,420",20.5,58900.0,21.1,0.5,6560,73.0,83.4,3.0,13.7,243500.0,1354.03,730.0,16.4,27.4,35.9,20.3,33.6,644.0,23.4,56966,8.8,3.0,58.0,69.0,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
2,Barnet,Outer London,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,14.0,5407,35.2,India,3.1,Poland,2.4,Iran,2.0,38.7,23.4,53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49.0,33443.0,36475.0,31235.0,"£40,530",33.2,167300.0,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000.0,1397.07,1460.0,32.4,25.2,11.1,31.1,41.3,1415.0,38.0,144717,7.4,3.0,67.3,35.0,46.0,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
3,Bexley,Outer London,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,760,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6.0,14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350.0,37881.0,28924.0,"£36,990",22.1,80700.0,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000.0,1472.43,-130.0,38.1,35.3,15.2,11.4,31.7,975.0,54.0,108507,10.6,2.6,60.3,46.0,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
4,Brent,Outer London,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,11.3,7640,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,100.9,Romania,Italy,Portugal,69.5,76.0,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812.0,30129.0,29600.0,"£32,140",17.3,133600.0,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250.0,1377.24,1050.0,22.2,22.6,20.4,34.8,21.9,1175.0,35.2,87802,7.9,3.7,60.1,45.0,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3

### Q1

> What do you think `NaN` stands for?

## Accessing the columns

A single column of the data is accessible using Python dot notation

In [3]:
boroughs.

0             City of London
1       Barking and Dagenham
2                     Barnet
3                     Bexley
4                      Brent
5                    Bromley
6                     Camden
7                    Croydon
8                     Ealing
9                    Enfield
10                 Greenwich
11                   Hackney
12    Hammersmith and Fulham
13                  Haringey
14                    Harrow
15                  Havering
16                Hillingdon
17                  Hounslow
18                 Islington
19    Kensington and Chelsea
20      Kingston upon Thames
21                   Lambeth
22                  Lewisham
23                    Merton
24                    Newham
25                 Redbridge
26      Richmond upon Thames
27                 Southwark
28                    Sutton
29             Tower Hamlets
30            Waltham Forest
31                Wandsworth
32               Westminster
33              Inner London
34              Outer London
35                    London
36                   England
37            United Kingdom
Name: Borough, dtype: object

Or we can use square brackets, a bit like with a Python list or dictionary.

In [4]:
boroughs['Population']

0         8800
1       209000
2       389600
3       244300
4       332100
5       327900
6       242500
7       386500
8       351600
9       333000
10      280100
11      274300
12      185300
13      278000
14      252300
15      254300
16      301000
17      274200
18      231200
19      159000
20      175400
21      328900
22      303400
23      208100
24      342900
25      304200
26      197300
27      314300
28      202600
29      304000
30      276200
31      321000
32      242100
33     3535700
34     5299800
35     8835500
36    55609600
37    65999100
Name: Population, dtype: int64

### Q2

> Try out both ways of accessing columns.
>
> This isn't as helpful as it could be. Why not?

Square brackets are more flexible. We can give them a list of headings.

In [5]:
# note the nested brackets
boroughs[['Borough','Population','Happy']]

                   Borough  Population  Happy
0           City of London        8800    6.0
1     Barking and Dagenham      209000    7.1
2                   Barnet      389600    7.4
3                   Bexley      244300    7.2
4                    Brent      332100    7.2
5                  Bromley      327900    7.4
6                   Camden      242500    7.1
7                  Croydon      386500    7.2
8                   Ealing      351600    7.3
9                  Enfield      333000    7.3
10               Greenwich      280100    7.2
11                 Hackney      274300    7.0
12  Hammersmith and Fulham      185300    7.2
13                Haringey      278000    7.2
14                  Harrow      252300    7.3
15                Havering      254300    7.2
16              Hillingdon      301000    7.3
17                Hounslow      274200    7.4
18               Islington      231200    7.1
19  Kensington and Chelsea      159000    7.6
20    Kingston upon Thames      175400    7.4
21                 Lambeth      328900    7.2
22                Lewisham      303400    7.3
23                  Merton      208100    7.1
24                  Newham      342900    7.2
25               Redbridge      304200    7.3
26    Richmond upon Thames      197300    7.3
27               Southwark      314300    7.3
28                  Sutton      202600    7.3
29           Tower Hamlets      304000    7.2
30          Waltham Forest      276200    7.1
31              Wandsworth      321000    7.4
32             Westminster      242100    7.1
33            Inner London     3535700    7.2
34            Outer London     5299800    7.3
35                  London     8835500    7.2
36                 England    55609600    7.3
37          United Kingdom    65999100    7.3

This is better. But it would be nice if we didn't have to keep including the `Borough` column. So let's make that our *index*

In [6]:
boroughs = boroughs.set_index(boroughs.Borough)
boroughs.head(5)

,Borough,InnerOuter,Population,Households,Area,Density,Age,LT15,WorkAge,Over65,Netmig,Bornabroad,Migrant1,Migrant1p,Migrant2,Migrant2p,Migrant3,Migrant3p,BAME,E2L,Arriving,Arriving1,Arriving2,Arriving3,Employ,MEmploy,FEmploy,Unemploy,UnemployY,NEET,OOWBenefit,Disability,NoQual,Degree,Pay,MPay,FPay,Medianpay,Volunteer,Jobs,Publicsector,Jobdensity,Business,BSurvival,Crime,Fires,Ambulance,HPrice,CTax,NewHomes,HOwned,Mortgages,LARent,PRent,Green,Carbon,Recycle,Cars,Cycle,PublicT,GCSEs,LookedAfter,PupilNE,PupilOOW,MLE,FLE,TeenCR,Satisfaction,Worthwhile,Happy,Anxiety,CObesity,Diabetes,PMortality,PControl,Conservative,Labour,Libdem,Turnout
Borough,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
City of London,City of London,Inner London,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,665,NaN,United States,2.8,France,2.0,Australia,1.9,27.5,17.1,152.2,India,France,United States,64.6,NaN,NaN,NaN,1.6,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,"£63,620",NaN,500400.0,3.4,84.3,26130,64.3,NaN,12.3,NaN,799999.0,931.20,80.0,NaN,NaN,NaN,NaN,4.8,1036.0,34.4,1692,16.9,7.9,78.6,101.0,NaN,7.9,NaN,NaN,NaN,6.6,7.1,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,Barking and Dagenham,Outer London,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,9.7,2509,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11.0,4.5,5.7,10.5,17.2,11.3,32.2,27886.0,30104.0,24602.0,"£29,420",20.5,58900.0,21.1,0.5,6560,73.0,83.4,3.0,13.7,243500.0,1354.03,730.0,16.4,27.4,35.9,20.3,33.6,644.0,23.4,56966,8.8,3.0,58.0,69.0,41.7,18.7,77.6,82.1,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
Barnet,Barnet,Outer London,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,14.0,5407,35.2,India,3.1,Poland,2.4,Iran,2.0,38.7,23.4,53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49.0,33443.0,36475.0,31235.0,"£40,530",33.2,167300.0,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000.0,1397.07,1460.0,32.4,25.2,11.1,31.1,41.3,1415.0,38.0,144717,7.4,3.0,67.3,35.0,46.0,9.3,82.1,85.1,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
Bexley,Bexley,Outer London,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,760,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6.0,14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350.0,37881.0,28924.0,"£36,990",22.1,80700.0,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000.0,1472.43,-130.0,38.1,35.3,15.2,11.4,31.7,975.0,54.0,108507,10.6,2.6,60.3,46.0,32.6,12.6,80.4,84.4,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
Brent,Brent,Outer London,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,11.3,7640,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,100.9,Romania,Italy,Portugal,69.5,76.0,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812.0,30129.0,29600.0,"£32,140",17.3,133600.0,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250.0,1377.24,1050.0,22.2,22.6,20.4,34.8,21.9,1175.0,35.2,87802,7.9,3.7,60.1,45.0,37.6,13.7,80.1,85.1,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3

### Q3 

> What changed?

Now, when we ask for column, we'll get the borough for free

In [7]:
boroughs[['Age','WorkAge']]

                         Age  WorkAge
Borough
City of London          43.2     73.1
Barking and Dagenham    32.9     63.1
Barnet                  37.3     64.9
Bexley                  39.0     62.9
Brent                   35.6     67.8
Bromley                 40.2     62.6
Camden                  36.4     71.0
Croydon                 37.0     64.9
Ealing                  36.2     66.8
Enfield                 36.3     64.4
Greenwich               35.0     67.7
Hackney                 33.1     72.1
Hammersmith and Fulham  35.7     72.3
Haringey                35.1     70.7
Harrow                  38.3     64.5
Havering                40.3     62.3
Hillingdon              36.4     65.6
Hounslow                35.8     67.6
Islington               34.8     75.3
Kensington and Chelsea  39.3     69.3
Kingston upon Thames    37.1     67.2
Lambeth                 34.5     74.6
Lewisham                35.0     70.1
Merton                  36.7     67.2
Newham                  32.1     70.2
Redbridge               35.8     65.0
Richmond upon Thames    38.8     64.5
Southwark               34.4     73.5
Sutton                  38.9     64.3
Tower Hamlets           31.4     73.9
Waltham Forest          35.1     67.9
Wandsworth              35.0     72.8
Westminster             37.7     72.3
Inner London            34.7     54.7
Outer London            36.9     71.7
London                  36.0     73.6
England                 40.0     63.3
United Kingdom          40.1     63.3

Now we can use the `loc` to *locate* the index Haringey.

In [10]:
boroughs.loc[['Haringey','Hackney']]

,Borough,InnerOuter,Population,Households,Area,Density,Age,LT15,WorkAge,Over65,Netmig,Bornabroad,Migrant1,Migrant1p,Migrant2,Migrant2p,Migrant3,Migrant3p,BAME,E2L,Arriving,Arriving1,Arriving2,Arriving3,Employ,MEmploy,FEmploy,Unemploy,UnemployY,NEET,OOWBenefit,Disability,NoQual,Degree,Pay,MPay,FPay,Medianpay,Volunteer,Jobs,Publicsector,Jobdensity,Business,BSurvival,Crime,Fires,Ambulance,HPrice,CTax,NewHomes,HOwned,Mortgages,LARent,PRent,Green,Carbon,Recycle,Cars,Cycle,PublicT,GCSEs,LookedAfter,PupilNE,PupilOOW,MLE,FLE,TeenCR,Satisfaction,Worthwhile,Happy,Anxiety,CObesity,Diabetes,PMortality,PControl,Conservative,Labour,Libdem,Turnout
Borough,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Haringey,Haringey,Inner London,278000,115608.0,"2,960",93.9,35.1,20.0,70.7,9.3,6675,39.6,Poland,4.3,Turkey,4.0,Jamaica,2.0,38.2,29.7,78.5,Romania,Italy,Bulgaria,71.3,77.6,64.8,5.7,5.6,3.5,9.7,16.3,8.8,49.2,31063.0,NaN,29513.0,"£35,420",29.8,91500.0,17.8,0.5,12675,74.4,90.2,2.1,12.3,432500.0,1484.01,240.0,18.0,24.7,33.4,23.9,25.5,773.0,37.3,61515,14.1,4.3,59.7,67.0,48.0,16.9,80.1,84.9,22.6,7.2,7.5,7.2,3.2,23.8,5.9,183.0,Lab,0.0,84.2,15.8,38.1
Hackney,Hackney,Inner London,274300,115417.0,"1,905",144.0,33.1,20.7,72.1,7.2,3359,35.8,Turkey,3.6,Nigeria,2.7,Jamaica,1.8,43.6,24.1,46.0,Italy,France,Spain,69.0,72.8,65.3,5.9,4.8,3.0,10.7,17.9,10.8,49.2,32056.0,NaN,31919.0,"£35,140",29.6,132800.0,18.1,0.7,18510,76.8,99.6,2.7,11.5,485000.0,1294.42,830.0,11.1,19.8,45.4,23.3,23.2,813.0,25.3,41800,25.2,4.9,60.6,53.0,44.2,19.7,78.5,83.3,24.7,7.0,7.3,7.0,3.8,27.0,5.8,211.0,Lab,7.0,87.7,5.3,39.4

### Q4

> Pick another borough to retreive the data for. Compare it to Haringey.

## Sorting and filtering

Let's find out which boroughs have the highest population.

`pandas` dataframes have a `sort_values` function.

### Q5

Remember in a jupyter notebook, you can put the cursor in the function brackets and hit `shift`+`tab` to bring up documentation for that function.

> Make the sort_values function below work, to put the boroughs in order of population
>
> Now put them in *descending* order
>
> Which borough has the largest population?

In [15]:
# *** broken ***
boroughs.sort_values(by='Population',ascending=False)

,Borough,InnerOuter,Population,Households,Area,Density,Age,LT15,WorkAge,Over65,Netmig,Bornabroad,Migrant1,Migrant1p,Migrant2,Migrant2p,Migrant3,Migrant3p,BAME,E2L,Arriving,Arriving1,Arriving2,Arriving3,Employ,MEmploy,FEmploy,Unemploy,UnemployY,NEET,OOWBenefit,Disability,NoQual,Degree,Pay,MPay,FPay,Medianpay,Volunteer,Jobs,Publicsector,Jobdensity,Business,BSurvival,Crime,Fires,Ambulance,HPrice,CTax,NewHomes,HOwned,Mortgages,LARent,PRent,Green,Carbon,Recycle,Cars,Cycle,PublicT,GCSEs,LookedAfter,PupilNE,PupilOOW,MLE,FLE,TeenCR,Satisfaction,Worthwhile,Happy,Anxiety,CObesity,Diabetes,PMortality,PControl,Conservative,Labour,Libdem,Turnout
Borough,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
United Kingdom,United Kingdom,NaN,65999100,NaN,NaN,NaN,40.1,18.8,63.3,17.8,NaN,13.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,Romania,Poland,Italy,73.5,78.5,68.5,5.3,NaN,NaN,NaN,19.5,8.8,36.9,28213.0,30567.0,24833.0,"£30,600",NaN,NaN,17.6,0.8,2672025,75.0,NaN,NaN,NaN,NaN,NaN,NaN,32.3,31.8,17.9,17.9,NaN,403797.0,NaN,30333100,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,7.5,7.7,7.3,3.0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
England,England,NaN,55609600,NaN,"13,025,967",NaN,40.0,19.0,63.3,17.7,"313,240",14.6,India,1.3,Poland,1.1,Pakistan,0.9,NaN,8.0,21.7,Romania,Poland,Italy,73.9,79.1,68.6,5.1,3.1,4.7,8.7,19.2,8.4,36.7,28503.0,30943.0,24965.0,NaN,24.5,28556100.0,16.8,0.8,2348065,75.1,65.7,NaN,NaN,209995.0,NaN,NaN,32.1,31.8,17.5,18.5,87.5,324054.0,43.7,25696833,14.7,NaN,56.8,60.0,15.7,14.0,79.545876,83.19603,22.8,7.5,7.7,7.3,3.0,19.8,6.2,183.0,NaN,NaN,NaN,NaN,NaN
London,London,NaN,8835500,3601963.0,"157,215",56.2,36.0,13.9,73.6,12.5,"133,901",36.6,India,3.2,Poland,1.9,Ireland,1.6,42.5,22.1,53.9,Romania,Italy,Spain,72.9,79.3,66.5,6.1,3.6,3.4,7.7,16.1,7.3,49.9,33776.0,36697.0,30979.0,"£39,110",25.7,5633400.0,15.3,1.0,541310,73.0,84.0,2.3,12.3,399950.0,NaN,NaN,22.0,27.9,23.1,26.8,38.3,35817.0,33.1,2664414,14.7,3.8,61.8,51.0,29.3,14.4,80.300000,84.20000,21.5,7.3,7.6,7.2,3.3,23.2,6.0,169.0,NaN,33.1,57.3,6.3,38.9
Outer London,Outer London,NaN,5299800,2079422.0,"125,424",42.3,36.9,13.8,71.7,14.5,"82,685",34.2,India,4.1,Poland,2.1,Pakistan,1.6,42.1,20.1,46.8,Romania,Poland,Italy,73.3,80.3,66.4,5.9,3.2,3.4,7.0,16.4,7.3,44.7,NaN,NaN,NaN,"£38,360",NaN,2190400.0,16.8,0.7,253725,75.2,69.4,2.1,11.8,350000.0,NaN,NaN,27.3,32.0,16.7,23.9,42.5,NaN,NaN,1939058,NaN,3.0,NaN,47.0,44.0,12.2,NaN,NaN,20.7,7.3,7.6,7.3,3.2,-,6.5,NaN,NaN,39.2,49.4,7.8,39.6
Inner London,Inner London,NaN,3535700,1522541.0,"31,929",110.7,34.7,38.5,54.7,6.8,"78,597",40.1,Bangladesh,2.5,India,1.8,Ireland,1.7,43.1,25.2,63.1,Italy,Romania,Spain,72.3,78.0,66.6,6.4,4.1,3.3,8.6,15.6,7.2,57.0,NaN,NaN,NaN,"£40,290",NaN,3442500.0,14.4,1.4,287585,71.0,106.4,2.6,13.1,495000.0,NaN,NaN,14.6,22.2,32.1,30.9,21.7,NaN,NaN,725356,NaN,4.9,NaN,56.0,49.6,0.8,NaN,NaN,23.1,7.3,7.5,7.2,3.4,-,5.3,NaN,NaN,23.4,69.7,3.8,37.7
Barnet,Barnet,Outer London,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,14.0,5407,35.2,India,3.1,Poland,2.4,Iran,2.0,38.7,23.4,53.1,Romania,Poland,Italy,68.5,74.5,62.9,8.5,1.9,2.5,6.2,14.9,5.2,49.0,33443.0,36475.0,31235.0,"£40,530",33.2,167300.0,18.7,0.7,26190,73.8,62.7,1.6,11.1,445000.0,1397.07,1460.0,32.4,25.2,11.1,31.1,41.3,1415.0,38.0,144717,7.4,3.0,67.3,35.0,46.0,9.3,82.100000,85.10000,12.8,7.5,7.8,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
Croydon,Croydon,Outer London,386500,159010.0,"8,650",44.7,37.0,22.0,64.9,13.0,2438,29.4,India,3.6,Jamaica,2.5,Ghana,1.5,49.9,14.5,32.3,Romania,Poland,Italy,75.4,81.8,69.5,4.1,4.8,3.3,7.8,17.5,7.0,40.6,32696.0,35839.0,29819.0,"£37,000",27.2,141600.0,20.1,0.6,15540,75.3,77.0,2.2,12.8,300000.0,1494.13,2040.0,30.8,33.6,16.7,18.6,37.1,1237.0,39.9,140049,12.8,3.2,57.7,86.0,36.7,14.1,80.300000,83.60000,28.4,7.1,7.6,7.2,3.3,24.5,6.5,178.0,Lab,42.9,57.1,0.0,38.6
Ealing,Ealing,Outer London,351600,132663.0,"5,554",63.3,36.2,21.4,66.8,11.8,4007,47.4,India,7.6,Poland,6.4,Ireland,2.3,53.5,33.9,65.2,Poland,Romania,Italy,72.7,81.2,63.8,5.8,3.0,3.0,7.9,15.2,9.1,49.7,31331.0,32185.0,29875.0,"£36,070",32.1,160500.0,13.6,0.7,18700,75.8,75.5,1.9,11.3,430000.0,1335.93,720.0,20.1,30.2,14.3,35.0,30.9,1342.0,40.1,112845,15.0,3.3,62.1,46.0,43.6,13.1,80.600000,84.20000,17.8,7.3,7.6,7.3,3.6,23.8,6.9,164.0,Lab,17.4,76.8,5.8,41.2
Newham,Newham,Inner London,342900,119172.0,"3,620",94.7,32.1,22.7,70.2,7.0,11182,54.1,India,8.7,Bangladesh,6.8,Pakistan,5.3,73.1,41.4,109.6,Romania,India,Bulgaria,66.2,75.0,56.1,9.1,4.1,4.3,8.0,12.7,11.0,43.4,27942.0,30141.0,24006.0,"£28,780",8.4,111100.0,23.1,0.5,11055,70.0,90.8,2.5,12.2,305000.0,1240.54,1440.0,9.4,16.7,31.4,42.5,23.9,1261.0,17.2,61092,5.6,3.9,55.7,42.0,58.8,15.4,78.500000,83.00000,22.5,7.1,7.4,7.2,3.4,27.6,7.6,193.0,Lab,0.0,100.0,0.0,40.5
Enfield,Enfield,Outer London,333000,130328.0,"8,083",41.2,36.3,22.8,64.4,12.8,3164,35.0,Turkey,4.5,Cyprus (Not otherwise specified),3.6,Poland,1.9,42.3,22.9,43.8,Romania,Bulgaria,Poland,73.0,80.4,66.0,3.8,3.3,3.1,9.3,18.4,4.5,43.4,31603.0,35252.0,30222.0,"£33,110",22.4,128800.0,21.7,0.6,13925,74.2,69.4,2.2,12.2,320000.0,1420.17,670.0,25.6,36.2,17.2,21.0,45.6,1245.0,38.5,119653,7.9,3.0,59.9,43.0,55.3,17.4,80.700000,84.10000,24.6,7.3,7.6,7.3,2.6,25.2,7.0,152.0,Lab,34.9,65.1,0.0,38.2
Brent,Brent,Outer London,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,11.3,7640,53.9,India,9.2,Poland,3.4,Ireland,2.9,64.9,37.2,100.9,Romania,Italy,Portugal,69.5,76.0,62.6,7.5,3.1,2.6,8.3,17.7,6.2,45.1,29812.0,30129.0,29600.0,"£32,140",17.3,133600.0,17.6,0.6,15745,74.4,78.8,1.8,12.1,407250.0,1377.24,1050.0,22.2,22.6,20.4,34.8,21.9,1175.0,35.2,87802,7.9,3.7,60.1,45.0,37.6,13.7,80.100000,85.10000,18.5,7.3,7.4,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3
Lambeth,Lambeth,Inner London,328900,144400.0,"2,681",122.7,34.5,17.6,74.6,7.8,4598,32.2,Jamaica,3.2,Portugal,2.3,Poland,2.3,41.5,20.3,46.5,Spain,Italy,Poland,78.5,82.3,74.6,5.9,4.1,2.2,8.8,16.1,6.2,65.0,33441.0,35995.0,30173.0,"£38,490",31.7,184000.0,23.1,0.8,17280,63.8,104.6,2.5,13.3,450000.0,1257.35,1350.0,10.9,24.9,29.8,34.4,17.3,1091.0,28.3,66791,16.0,5.0,57.1,73.0,39.1,18.1,78.900000,83.30000,33.8,7.1,7.5,7.2,3.5,23.0,5.0,205.0,Lab,4.8,93.7,0.0,34.5
Bromley,Bromley,Outer London,327900,140602.0,"15,013",21.8,40.2,19.9,62.6,17.5,796,18.3,India,1.1,Ireland,1.1,Nigeria,0.7,18.9,5.8,14.4,Romania,Italy,Spain,75.3,80.4,70.4,5.3,2.5,4.3,6.0,15.9,4.3,46.7,37682.0,42026.0,32491.0,"£43,060",29.0,127800.0,13.9,0.6,15695,78.6,64.1,2.3,11.2,374975.0,1347.27,700.0,37.8,34.9,13.2,14.1,57.8,1180.0,48.0,153908,13.0,2.8,68.0,40.0,38.9,10.2,81.400000,84.90000,16.7,7.5,7.9,7.4,3.3,16.0,5.2,148.0,Cons,85.0,11.7,0.0,40.8
Wandsworth,Wandsworth,Inner London,321000,138149.0,"3,426",93.7,35.0,17.8,72.8,9.3,1296,32.8,Poland,2.2,South Africa,2.1,Ireland,1.9,29.7,17.4,43.5,Italy,Spain,Australia,78.8,86.6,71.6,5.7,2.6,2.9,5.9,11.4,4.3,66.4,41064.0,NaN,36247.0,"£47,480",34.6,134100.0,21.4,0.6,18695,75.8,72.6,1.8,10.1,557000.0,679.91,2740.0,17.7,30.5,19.3,31.2,26.9,1038.0,20.7,89513,30.7,4.3,63.0,41.0,50.8,12.7,79.500000,83.70000,19.3,7.4,7.6,7.4,3.6,19.3,4.2,177.0,Cons,68.3,31.7,0.0,36.9
Southwark,Southwark,Inner London,314300,134254.0,"2,886",108.9,34.4,18.6,73.5,7.9,5497,38.4,Nigeria,4.7,Jamaica,2.0,Ireland,1.7,45.7,19.6,53.5,Spain,Italy,France,74.2,79.8,68.6,7.7,4.7,2.0,8.8,16.8,7.6,56.8,33864.0,36712.0,32696.0,"£37,100",26.4,285900.0,18.8,1.3,17120,73.4,100.6,3.0,13.6,475000.0,1206.38,1380.0,10.1,26.3,37.2,26.4,24.9,1169.0,34.6,60438,20.1,4.9,61.2,75.0,29.8,19.5,78.900000,83.90000,27.4,7.5,7.7,7.3,3.4,27.6,5.5,207.0,Lab,3.2,76.2,20.6,36.2
Redbridge,Redbridge,Outer London,304200,110708.0,"5,642",53.9,35.8,22.8,65.0,12.2,3685,40.2,India,7.6,Pakistan,5.3,Sri Lanka,2.6,62.7,24.6,54.6,Romania,India,Bulgaria,68.3,79.1,57.6,7.9,4.1,3.3,6.0,17.1,10.2,44.7,33483.0,39272.0,29204.0,"£36,860",25.2,90700.0,22.9,0.5,14595,74.7,69.7,1.9,11.3,345000.0,1415.22,50.0,29.5,34.9,11.3,24.1,40.6,874.0,28.7,106339,11.8,3.0,68.7,28.0,66.5,9.8,80.900000,84.60000,18.5,7.3,7.6,7.3,3.2,23.3,7.9,142.0,Lab,39.7,55.6,4.8,39.7
Tower Hamlets,Tower Hamlets,Inner London,304000,123720.0,"1,978",153.7,31.4,20.1,73.9,6.0,10532,38.6,Bangladesh,15.3,India,1.5,China,1.4,54.0,34.2,80.5,Italy,France,Spain,70.4,80.3,59.6,9.2,3.2,3.4,8.5,15.4,10.0,45.7,36429.0,38461.0,32657.0,"£34,930",20.6,280100.0,16.1,1.4,18390,69.7,99.9,3.5,11.8,415000.0,1196.85,2390.0,7.0,19.8,41.6,31.5,15.2,1703.0,28.1,43589,22.4,5.0,59.2,47.0,51.1,21.9,78.100000,82.50000,18.1,7.2,7.4,7.2,3.3,27.1,6.6,239.0,Lab,11.1,48.9,0.0,47.2
Lewisham,Lewisham,Inner London,303400,131076.0,"3,515",86.3,35.0,20.6,70.1,9.3,3683,34.9,Jamaica,3.5,Nigeria,3.5,Poland,1.6,47.4,16.5,38.3,Romania,Spain,Italy,75.9,79.6,72.4,5.7,6.0,3.5,9.8,16.5,5.8,53.3,33157.0,NaN,31641.0,"£35,900",27.9,90000.0,24.8,0.4,10405,73.4,77.0,2.2,12.0,352000.0,1378.66,1540.0,16.5,31.7,28.1,23.6,22.5,825.0,17.1,76507,16.1,4.1,56.3,69.0,40.9,17.9,79.000000,83.40000,31.3,7.2,7.6,7.3,3.4,23.6,6.1,191.0,Lab,0.0,98.1,0.0,37.2
Hillingdon,Hillingdon,Outer London,301000,110827.0,"11,570",26.0,36.4,21.3,65.6,13.1,4139,32.4,India,5.7,Pakistan,1.8,Ireland,1.6,45.7,18.8,35.8,Romania,Poland,India,73.2,80.7,65.9,5.8,2.5,2.4,6.5,17.9,8.7,40.2,33508.0,36107.0,28778.0,"£37,040",23.8,220900.0,11.4,1.0,13505,75.0,76.6,2.6,14.7,350000.0,1388.93,710.0,22.2,33.0,16.6,28.2,49.2,1713.0,43.8,122486,12.3,2.4,62.0,49.0,29.6,12.3,80.400000,83.90000,20.5,7.4,7.7,7.3,3.5,21.1,6.4,170.0,Cons,64.6,35.4,0.0,36.1
Greenwich,Greenwich,Outer London,280100,113964.0,"4,733",59.2,35.0,21.9,67.7,10.4,3366,35.4,Nigeria,5.1,Nepal,1.9,India,1.7,40.3,16.9,37.6,Romania,Bulgaria,Italy,72.1,77.9,66.3,8.1,5.4,5.0,9.5,20.2,10.6,42.2,32415.0,35596.0,29833.0,"£35,350",17.4,94700.0,27.3,0.5,10060,72.7,79.4,2.5,11.9,340000.0,1296.18,1720.0,19.2,26.9,34.2,19.7,34.4,1014.0,34.3,78185,7.7,3.4,58.8,78.0,44.1,17.1,79.000000,82.50000,28.1,7.2,7.6,7.2,3.4,27.7,6.1,193.0,Lab,15.7,84.3,0.0,37.3
Haringey,Haringey,Inner London,278000,115608.0,"2,960",93.9,35.1,20.0,70.7,9.3,6675,39.6,Poland,4.3,Turkey,4.0,Jamaica,2.0,38.2,29.7,78.5,Romania,Italy,Bulgaria,71.3,77.6,64.8,5.7,5.6,3.5,9.7,16.3,8.8,49.2,31063.0,NaN,29513.0,"£35,420",29.8,91500.0,17.8,0.5,12675,74.4,90.2,2.1,12.3,432500.0,1484.01,240.0,18.0,24.7,33.4,23.9,25.5,773.0,37.3,61515,14.1,4.3,59.7,67.0,48.0,16.9,80.100000,84.90000,22.6,7.2,7.5,7.2,3.2,23.8,5.9,183.0,Lab,0.0,84.2,15.8,38.1
Waltham Forest,Waltham Forest,Outer London,276200,105981.0,"3,881",71.2,35.1,21.8,67.9,10.3,5814,37.2,Pakistan,4.9,Poland,3.2,Romania,1.7,49.9,26.4,83.9,Romania,Bulgaria,Poland,73.1,76.8,69.4,5.4,3.5,3.0,8.1,15.5,11.6,42.6,30859.0,33126.0,NaN,"£33,080",19.2,84500.0,23.0,0.5,11020,71.0,78.0,2.2,11.7,366569.0,1474.18,970.0,20.6,29.2,19.9,30.0,31.4,780.0,35.5,76217,12.9,3.6,58.3,43.0,62.4,15.1,79.400000,83.80000,26.2,7.2,7.5,7.1,3.1,26.3,6.4,185.0,Lab,26.7,73.3,0.0,37.6
Hackney,Hackney,Inner London,274300,115417.0,"1,905",144.0,33.1,20.7,72.1,7.2,3359,35.8,Turkey,3.6,Nigeria,2.7,Jamaica,1.8,43.6,24.1,46.0,Italy,France,Spain,69.0,72.8,65.3,5.9,4.8,3.0,10.7,17.9,10.8,49.2,32056.0,NaN,31919.0,"£35,140",29.6,132800.0,18.1,0.7,18510,76.8,99.6,2.7,11.5,485000.0,1294.42,830.0,11.1,19.8,45.4,23.3,23.2,813.0,25.3,41800,25.2,4.9,60.6,53.0,44.2,19.7,78.500000,83.30000,24.7,7.0,7.3,7.0,3.8,27.0,5.8,211.0,Lab,7.0,87.7,5.3,39.4
Hounslow,Hounslow,Outer London,274200,105887.0,"5,598",49.0,35.8,21.1,67.6,11.3,4425,46.3,India,10.7,Poland,4.1,Pakistan,2.8,51.6,28.7,62.4,Romania,India,Poland,74.2,84.7,63.2,4.3,2.9,3.2,6.1,17.6,6.5,45.5,31001.0,32235.0,27226.0,"£35,330",26.9,165700.0,11.7,1.0,13910,76.2,79.2,2.1,12.1,355000.0,1355.77,480.0,25.5,27.0,19.2,28.3,39.6,1277.0,34.5,94042,16.0,3.0,63.2,45.0,50.6,13.5,80.000000,83.90000,25.0,7.3,7.6,7.4,3.4,24.1,6.5,166.0,Lab,18.3,81.7,0.0,36.8
Havering,Havering,Outer London,254300,104098.0,"11,235",22.6,40.3,19.3,62.3,18.4,604,10.9,Ireland,1.1,India,1.0,Nigeria,0.9,15.7,4.6,17.0,Romania,Lithuania,Poland,76.5,81.3,71.8,5.3,3.3,4.0,7.0,18.2,10.5,26.0,33398.0,36539.0,27455.0,"£36,670",16.9,91300.0,20.7,0.6,10115,75.3,62.9,2.5,12.9,287500.0,1543.64,1010.0,35.2,33.9,17.2,13.8,59.3,1032.0,32.4,117634,7.8,2.5,59.8,42.0,38.9,12.6,80.200000,83.90000,22.8,7.4,7.7,7.2,3.3,21.8,5.9,159.0,Cons,40.7,1.9,0.0,43.1
Harrow,Harrow,Outer London,252300,92557.0,"5,046",50.0,38.3,20.5,64.5,15.0,2833,49.6,India,9.0,Kenya,4.9,Sri Lanka,4.3,61.8,28.5,65.4,Romania,India,Poland,73.9,83.1,64.7,4.6,2.4,1.5,5.4,13.9,4.2,47.9,33202.0,NaN,29335.0,"£38,880",38.9,88600.0,14.5,0.6,15155,76.5,50.4,1.3,9.8,396150.0,1559.61,910.0,33.5,32.8,8.9,24.6,34.6,748.0,45.1,100326,8.3,2.9,66.4,32.0,57.6,9.1,82.700000,86.10000,11.0,7.3,7.4,7.3,2.7,20.2,8.5,134.0,Lab,41.3,54.0,1.6,40.7
Bexley,Bexley,Outer London,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,760,16.1,Nigeria,2.6,India,1.5,Ireland,0.9,21.4,6.0,14.4,Romania,Poland,Nigeria,75.1,82.1,68.5,7.6,2.9,3.4,6.8,15.9,10.8,33.5,34350.0,37881.0,28924.0,"£36,990",22.1,80700.0,15.9,0.6,9075,73.5,51.8,2.3,11.8,275000.0,1472.43,-130.0,38.1,35.3,15.2,11.4,31.7,975.0,54.0,108507,10.6,2.6,60.3,46.0,32.6,12.6,80.400000,84.40000,19.5,7.4,7.7,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
Camden,Camden,Inner London,242500,107654.0,"2,179",111.3,36.4,17.3,71.0,11.7,7504,41.4,United States,2.8,Bangladesh,2.7,Ireland,2.4,34.6,23.5,60.7,Italy,France,Spain,69.2,72.2,66.1,4.0,3.6,4.4,8.5,21.3,6.1,61.1,39796.0,NaN,36632.0,"£43,750",21.9,377400.0,12.4,2.2,31385,73.6,123.5,2.7,14.8,700000.0,1359.66,970.0,18.5,15.1,34.4,32.0,24.8,1288.0,26.3,46601,18.8,5.7,62.7,41.0,25.2,16.5,81.800000,86.70000,16.8,7.1,7.4,7.1,3.6,21.3,3.9,164.0,Lab,22.2,74.1,1.9,38.7
Westminster,Westminster,Inner London,242100,118975.0,"2,149",112.7,37.7,15.9,72.3,11.7,10763,49.8,United States,3.6,France,2.6,Iraq,2.1,38.8,30.8,72.0,Italy,France,Spain,65.6,68.6,62.3,8.8,3.5,2.2,7.6,17.5,4.5,63.6,42141.0,46627.0,39132.0,"£47,510",23.9,730700.0,13.4,4.3,55385,68.8,212.4,4.0,19.9,920000.0,669.07,910.0,17.1,11.6,27.8,43.3,38.2,2502.0,19.1,48810,15.8,6.5,65.7,39.0,52.6,15.8,82.300000,86.30000,15.4,7.3,7.5,7.1,3.4,24.9,4.4,162.0,Cons,73.3,26.7,0.0,32.3
Islington,Islington,Inner London,231200,105038.0,"1,486",155.6,34.8,15.9,75.3,8.8,6295,36.6,Ireland,2.8,Turkey,1.8,United States,1.5,32.0,19.9,54.3,Italy,France,Spain,72.6,78.2,67.0,4.5,4.5,5.2,10.5,14.6,6.2,62.7,36592.0,38284.0,NaN,"£39,790",31.1,231500.0,14.5,1.5,22110,72.5,121.2,2.6,13.9,583000.0,1296.15,1030.0,15.4,23.5,35.3,25.5,12.4,878.0,32.8,38629,21.4,5.7,59.9,88.0,57.6,23.4,79.000000,83.50000,20.2,7.2,7.4,7.1,3.7,22.8,5.0,203.0,Lab,0.0,97.9,0.0,38.4
Barking and Dagenham,Barking and Dagenham,Outer London,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,9.7,2509,37.8,Nigeria,4.7,India,2.3,Pakistan,2.3,49.5,18.7,59.1,Romania,Bulgaria,Lithuania,65.8,75.6,56.5,11.0,4.5,5.7,10.5,17.2,11.3,32.2,27886.0,30104.0,24602.0,"£29,420",20.5,58900.0,21.1,0.5,6560,73.0,83.4,3.0,13.7,243500.0,1354.03,730.0,16.4,27.4,35.9,20.3,33.6,644.0,23.4,56966,8.8,3.0,58.0,69.0,41.7,18.7,77.600000,82.10000,32.4,7.1,7.6,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
Merton,Merton,Outer London,208100,84201.0,"3,762",55.3,36.7,20.6,67.2,12.2,1077,37.4,Poland,3.5,Sri Lanka,3.2,South Africa,2.8,36.7,21.1,48.6,Poland,Romania,Bulgaria,78.8,86.3,71.4,4.6,3.9,4.3,5.7,13.5,4.7,58.0,33989.0,NaN,30722.0,"£41,960",22.0,96800.0,12.2,0.7,12070,78.4,59.7,1.8,10.4,415000.0,1382.45,510.0,21.7,32.7,16.2,29.3,34.6,691.0,37.5,72777,14.4,3.4,67.8,35.0,34.2,10.4,80.400000,84.20000,19.7,7.3,7.5,7.1,3.6,19.2,5.6,162.0,Lab,33.3,60.0,1.7,41.3
Sutton,Sutton,Outer London,202600,85243.0,"4,385",46.2,38.9,20.7,64.3,15.1,568,23.1,Sri Lanka,1.8,India,1.7,Ireland,1.2,25.0,10.0,16.1,Romania,Bulgaria,Poland,78.2,86.2,70.5,5.5,2.3,3.2,5.1,14.4,4.3,42.5,32697.0,36636.0,28540.0,"£39,940",23.5,78600.0,18.9,0.6,8710,76.0,55.9,2.0,11.3,320000.0,1486.03,390.0,25.7,41.8,11.6,20.5,32.0,666.0,37.6,91266,9.4,2.9,67.4,50.0,34.3,9.6,80.900000,83.40000,17.3,7.5,7.7,7.3,3.2,18.4,5.9,163.0,Lib Dem,16.7,0.0,83.3,42.6
Richmond upon Thames,Richmond upon Thames,Outer London,197300,85108.0,"5,741",34.4,38.8,20.7,64.5,14.8,913,23.7,Ireland,1.8,South Africa,1.4,United States,1.4,15.7,10.4,20.6,Italy,Poland,Romania,79.6,82.1,77.2,3.8,2.4,4.3,4.4,10.8,3.2,69.5,42076.0,NaN,38499.0,"£53,470",48.7,95900.0,11.2,0.8,14185,78.8,56.3,1.5,9.7,575000.0,1582.39,510.0,30.9,38.4,8.7,21.9,50.8,790.0,41.2,84918,33.1,3.1,70.5,26.0,53.5,5.7,82.400000,86.00000,12.6,7.5,7.8,7.3,3.2,12.6,3.7,137.0,Cons,72.2,0.0,27.8,46.1
Hammersmith and Fulham,Hammersmith and Fulham,Inner London,185300,83552.0,"1,640",113.0,35.7,17.4,72.3,10.3,2926,43.2,France,2.7,Ireland,2.7,Australia,2.5,33.7,22.7,71.4,Italy,France,Spain,77.5,80.9,74.2,4.7,2.2,2.5,8.4,12.9,4.9,67.5,38041.0,43845.0,34808.0,"£43,820",30.5,149500.0,16.4,1.2,14095,73.4,113.2,2.0,12.2,730000.0,1003.81,370.0,19.1,21.8,25.9,33.1,19.1,809.0,20.7,43843,20.1,4.7,60.5,58.0,48.9,16.1,79.700000,84.10000,22.4,7.4,7.5,7.2,3.1,21.3,4.4,187.0,Lab,43.5,56.5,0.0,37.6
Kingston upon Thames,Kingston upon Thames,Outer London,175400,69849.0,"3,726",47.1,37.1,19.6,67.2,13.2,2547,29.8,Sri Lanka,2.2,India,1.8,Korea (South),1.4,30.4,16.4,27.5,Bulgaria,Romania,Poland,74.4,80.9,67.8,4.5,2.0,3.9,4.6,15.3,5.9,53.7,37979.0,41288.0,33400.0,"£43,940",42.7,83700.0,17.1,0.8,8970,76.8,58.5,1.8,11.1,410000.0,1683.24,240.0,27.7,38.9,10.7,22.4,36.4,678.0,45.7,70421,20.4,2.9,68.6,30.0,39.3,7.7,82.000000,84.60000,15.3,7.3,7.7,7.4,3.3,16.9,4.9,141.0,Cons,58.3,4.2,37.5,43.1
Kensington and Chelsea,Kensington and Chelsea,Inner London,159000,80200.0,"1,212",131.1,39.3,16.4,69.3,14.3,2234,51.9,United States,5.0,France,4.2,Italy,2.7,30.0,28.0,66.2,Italy,France,Spain,68.2,76.3,60.4,4.2,3.4,3.6,7.2,14.3,5.2,65.2,NaN,NaN,NaN,"£55,620",31.1,143500.0,14.7,1.4,14350,74.5,120.9,2.0,12.7,1200000.0,1058.58,380.0,22.6,15.1,29.1,33.1,15.1,1154.0,25.3,44536,16.9,5.8,68.7,37.0,45.8,11.0,83.300000,86.40000,14.2,7.6,7.8,7.6,3.1,18.6,4.2,136.0,Cons,74.0,24.0,2.0,29.8
City of London,City of London,Inner London,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,665,NaN,United States,2.8,France,2.0,Australia,1.9,27.5,17.1,152.2,India,France,United States,64.6,NaN,NaN,NaN,1.6,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,"£63,620",NaN,500400.0,3.4,84.3,26130,64.3,NaN,12.3,NaN,799999.0,931.20,80.0,NaN,NaN,NaN,NaN,4.8,1036.0,34.4,1692,16.9,7.9,78.6,101.0,NaN,7.9,NaN,NaN,NaN,6.6,7.1,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN

What if we wanted to only include **innerLondon** boroughs?

In [ ]:
boroughs[boroughs["InnerOuter"]=='Inner London']

So we can pass a Boolean into those square brackets to *filter* the data. `pandas` square brackets are clearly a bit more powerful than regular Python square brackets.

### Q6

> Filter the data to show only Outer London boroughs
>
> Apply `sort_values` to give the Outer London boroughs in descending order of population

If you want to combine two Booleans into one filter you'll need to put both into parentheses *for reasons*. For example,

In [ ]:
boroughs[(boroughs.InnerOuter=="Inner London") | (boroughs.InnerOuter=="Outer London")]

It might be useful to have this table of *just* the individual boroughs, so let's assign that to a variable `justBoroughs`

In [ ]:
justBoroughs = boroughs[(boroughs.InnerOuter=="Inner London") | (boroughs.InnerOuter=="Outer London")]
justBoroughs.head()

## Summary statistics

The dataframe has built in functions for statistical measures like `mean`, `std`, `quantile` but you need to be careful whether using them makes sense.

In [ ]:
boroughs.loc['London']['Age']

In [ ]:
justBoroughs["Age"].mean()

### Q7

> Why is the mean of the average ages not the same as the London average age?

So use the Inner London, Outer London and London averages rather than applying mean to a column.

## Investigating relationships

We would expect there to be an obvious relationship between unemployment rates and employment rates

In [ ]:
justBoroughs.plot.scatter("Employ", "Unemploy")

Let's quantify that by asking for the correlation coefficient

In [ ]:
justBoroughs.Employ.corr(justBoroughs.Unemploy)

### Q8

> How would you interpret this?
>
> Why isn't it a perfect correlation?
>
> Look for correlation between some other pairs of variables. Use a scatter plot first, then get the correlation coefficient

In [ ]:
justBoroughs.plot.scatter("Employ", "Unemploy", c= "NEET")